<div id="page-top">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: rgb(18,122,218);">
    <div class="container-fluid d-flex flex-column p-0">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-feather"></i></div>
        <div class="sidebar-brand-text mx-3"><span>RHApp</span></div>
      </a>
      <hr class="sidebar-divider my-0">
      <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/salaries"><i class="fas fa-table"></i><span>Salaries</span></a><a class="nav-link" routerLink="/absences"><i class="fas fa-table"></i><span>Absences</span></a><a class="nav-link" routerLink="/retraites"><i class="fas fa-table"></i><span>Retraites</span></a>
          <a
            class="nav-link" routerLink="/avantages"><i class="fas fa-table"></i><span>Avantage En Nature</span></a>
        </li>
      </ul>
      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
          <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
              <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
            </div>
          </form>
          <ul class="nav navbar-nav flex-nowrap ml-auto">
            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
              <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto navbar-search w-100">
                  <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                     role="menu">
                  <h6 class="dropdown-header">alerts center</h6>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="mr-3">
                      <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                    </div>
                    <div><span class="small text-gray-500">December 12, 2019</span>
                      <p>A new monthly report is ready to download!</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="mr-3">
                      <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                    </div>
                    <div><span class="small text-gray-500">December 7, 2019</span>
                      <p>$290.29 has been deposited into your account!</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="mr-3">
                      <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                    </div>
                    <div><span class="small text-gray-500">December 2, 2019</span>
                      <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                    </div>
                  </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                     role="menu">
                  <h6 class="dropdown-header">alerts center</h6>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                      <div class="bg-success status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                      <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                      <div class="status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                      <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                      <div class="bg-warning status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                      <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                      <div class="bg-success status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                      <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                    </div>
                  </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
              </div>
              <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
            </li>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow" role="presentation">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">KHALIL DAOULAT</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar5.jpeg"></a>
                <div
                  class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                  <a
                    class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Bonjour KHALIL</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Générer un rapport</a></div>
        <div class="row">
          <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Resources du Rhapp</h6>
                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                  <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                       role="menu">
                    <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a class="dropdown-item" role="presentation" href="#">&nbsp;Another action</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">&nbsp;Something else here</a></div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Direct&quot;,&quot;Social&quot;,&quot;Referral&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;,&quot;#36b9cc&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;50&quot;,&quot;30&quot;,&quot;15&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                <div
                  class="text-center small mt-4"><span class="mr-2"><i class="fas fa-circle text-primary"></i>&nbsp;Salaries</span><span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;absences</span><span class="mr-2"><i class="fas fa-circle text-info"></i>&nbsp;retraites</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4"></div>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Todo List</h6>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <h6 class="mb-0"><strong>Voir le Salarie Oussama</strong></h6><span class="text-xs">10:30 AM</span></div>
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"></label></div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <h6 class="mb-0"><strong>Voir l'absence du Taoufiq</strong></h6><span class="text-xs">11:30 AM</span></div>
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-2"><label class="custom-control-label" for="formCheck-2"></label></div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <h6 class="mb-0"><strong>Voir les retraites</strong></h6><span class="text-xs">08:00 AM</span></div>
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"><label class="custom-control-label" for="formCheck-3"></label></div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <h6 class="mb-0"><strong>Modifier le retraite Abdo</strong></h6><span class="text-xs">12:10 AM</span></div>
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"><label class="custom-control-label" for="formCheck-3"></label></div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <h6 class="mb-0"><strong>&nbsp;Générer un rapport pour ce mois</strong><br></h6><span class="text-xs">12:30 AM</span></div>
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"><label class="custom-control-label" for="formCheck-3"></label></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © RHAPP 2020</span></div>
      </div>
    </footer>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="assets/js/chart.min.js"></script>-->
<!--<script src="assets/js/bs-init.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>-->
<!--<script src="assets/js/theme.js"></script>-->
</div>
