<div id="page-top">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: rgb(18,122,218);">
    <div class="container-fluid d-flex flex-column p-0">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-feather"></i></div>
        <div class="sidebar-brand-text mx-3"><span>RHApp</span></div>
      </a>
      <hr class="sidebar-divider my-0">
      <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item" role="presentation"><a class="nav-link"routerLink="/home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/salaries"><i class="fas fa-table"></i><span>Salaries</span></a><a class="nav-link" routerLink="/absences"><i class="fas fa-table"></i><span>Absences</span></a><a class="nav-link" routerLink="/retraites"><i class="fas fa-table"></i><span>Retraites</span></a>
          <a
            class="nav-link" routerLink="/avantages"><i class="fas fa-table"></i><span>Avantage En Nature</span></a>
        </li>
      </ul>
      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
          <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
              <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
            </div>
          </form>
          <ul class="nav navbar-nav flex-nowrap ml-auto">
            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
              <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto navbar-search w-100">
                  <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                     role="menu">
                  <h6 class="dropdown-header">alerts center</h6>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="mr-3">
                      <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                    </div>
                    <div><span class="small text-gray-500">December 12, 2019</span>
                      <p>A new monthly report is ready to download!</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="mr-3">
                      <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                    </div>
                    <div><span class="small text-gray-500">December 7, 2019</span>
                      <p>$290.29 has been deposited into your account!</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="mr-3">
                      <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                    </div>
                    <div><span class="small text-gray-500">December 2, 2019</span>
                      <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                    </div>
                  </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                     role="menu">
                  <h6 class="dropdown-header">alerts center</h6>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                      <div class="bg-success status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                      <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                      <div class="status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                      <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                      <div class="bg-warning status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                      <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                    </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                      <div class="bg-success status-indicator"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                      <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                    </div>
                  </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
              </div>
              <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
            </li>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow" role="presentation">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">KHALIL DAOULAT</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar5.jpeg"></a>
                <div
                  class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                  <a
                    class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Profile</h3>
        <div class="row mb-3">
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">RH Projets</h6>
              </div>
              <div class="card-body">
                <h4 class="small font-weight-bold">Server migration<span class="float-right">20%</span></h4>
                <div class="progress progress-sm mb-3">
                  <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                </div>
                <h4 class="small font-weight-bold">Sales tracking<span class="float-right">40%</span></h4>
                <div class="progress progress-sm mb-3">
                  <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>
                </div>
                <h4 class="small font-weight-bold">Customer Database<span class="float-right">60%</span></h4>
                <div class="progress progress-sm mb-3">
                  <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                </div>
                <h4 class="small font-weight-bold">Payout Details<span class="float-right">80%</span></h4>
                <div class="progress progress-sm mb-3">
                  <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                </div>
                <h4 class="small font-weight-bold">Account setup<span class="float-right">Complete!</span></h4>
                <div class="progress progress-sm mb-3">
                  <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row mb-3 d-none">
              <div class="col">
                <div class="card text-white bg-primary shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-white bg-success shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">User Settings</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label for="username"><strong>Username</strong></label><input class="form-control" type="text" placeholder="user.name" name="username"></div>
                        </div>
                        <div class="col">
                          <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email" placeholder="user@example.com" name="email"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" placeholder="KHALIL" name="first_name"></div>
                        </div>
                        <div class="col">
                          <div class="form-group"><label for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" placeholder="DAOULAT" name="last_name"></div>
                        </div>
                      </div>
                      <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                    </form>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="form-group"><label for="address"><strong>Address</strong></label><input class="form-control" type="text" placeholder="MASSIRA 1" name="address"></div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label for="city"><strong>City</strong></label><input class="form-control" type="text" placeholder="MARRAKECH" name="city"></div>
                        </div>
                        <div class="col">
                          <div class="form-group"><label for="country"><strong>Country</strong></label><input class="form-control" type="text" placeholder="MOROCCO" name="country"></div>
                        </div>
                      </div>
                      <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow mb-5">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Forum Settings</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group"><label for="signature"><strong>Signature</strong><br></label><textarea class="form-control" rows="4" name="signature"></textarea></div>
                  <div class="form-group">
                    <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"><strong>Notify me about new replies</strong></label></div>
                  </div>
                  <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © RHAPP 2020</span></div>
      </div>
    </footer>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
</div>
